html, body {
	width: 100%;
	height: 100%;
}
body { 
	padding: 2px; 
}

.box1 {
	width: 100%; 
	height: 100%;
	background-color: #00FF7F; 
	position: relative;
}

.absolute {
	position: absolute;
}
.sun {
	width: 150px;
	top: 20px;
	right: 30px;
	animation: sun 4s infinite;
}
.cloud {
	width: 250px;
	top:20px;
	left: 50px;
	animation: cloud 5s infinite;
}
.two {
	left: 300px;
}

.flower {
	width: 70px; 
	bottom: 40px; 
	right: 50px;
	z-index: 10;
	transition: all 0.8s linear 0.5s;
}

.flower:hover {
	transform: rotate(360deg);
}
 .tryus {
 	width: 80px;
 	bottom: 120px;
 	right: 120px;
 	z-index: 15;
 }
.try p { 
	font-size: 20px;
	color: black;
	bottom: 160px;
	right: 130px;
	z-index: 20;

}

.line { 
	width: 3px;
	height: 65px;
	background-color:#006400;
	bottom:0;
	right: 85px;
	z-index: 5;
 }
.twofl {
	right: 100px;
}

.twoln{
	right: 135px;
}

.tree { 
	width: 550px;
	bottom: 0px; 
	left: 0px;
	animation: tree 10s infinite;

}

.girlboy{ 
	width: 280px; 
	bottom: 0px;
	left: 500px;
}

.dog { 
	width: 100px;
	bottom: 10px;
	left:750px;
	transition: all 0.5s linear 0.5s;
 }

 .dog:hover{
 	transform: rotate(360deg);
 }

 .tryme {
 	width: 90px;
 	bottom: 100px;
 	left: 820px;
 	z-index: 15;
 }

 .tryme p {
 	font-size: 18px;
	color: black;
	bottom: 150px;
	left: 835px;
	z-index: 20;
 }


@keyframes sun {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes tree {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes cloud {
	from {transform: translate(0%);}
	to {transform: translate(100%);}
}